*{
    margin: 0px;   
}
header{
    display: flex;

    background-color: black;
    padding: 10px;
    height: 70px;
    margin: 0;
    align-items: center;
}
header>*{
    display: flex;
    width: 450px;
}
.superior{
    margin-left: 550px;
    margin-right: 20px; 
    
}
form{
    margin-left: 30px;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: white;

}
.as{
    padding-inline-start:43px;
}
#imagen{
    height: 100px;
    margin-left: 20px;
}
.lab{  
    margin-top: 40px;
    top: 10px;
}
.logo{
    display: flex;
    align-items: center; 

}

#busqueda{
    display: inline;
    color: rgba(255, 255, 255, 0.434);
    width: 15%; 
}
input{
    width: 150px;
    background: none;
    color: aliceblue;
    border-radius: 5px;
    border : 1px solid rgb(255, 255, 255);
    overflow: hidden;
    height: 20px;
    padding-inline-start: 6px;
}
div{
    height: 10px;
}
#grande{
    font-size: 43px;
}
p{
    font-size: 18px;
    padding-left: 60px;
    padding-right: 90px;
    padding-top: 20px;
    color: white;
}
ul,ol{
    font-size: 18px;
    padding-left: 80px;
    padding-right: 90px;
    padding-top: 20px;
    color: white;
}
main{
    background-image: url("2.jpg");
    background-size: cover;
    background-attachment: fixed;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}
#fondo1{
    background-color: rgba(0, 0, 0, 0.048);
    border: 1px solid white;
    border-radius: 20px;
    backdrop-filter: blur(2px);
}

.alinea{
    padding-left: 755px;
    height: 200px;
    padding-top: 40px;
    border-radius: 5px;
}
h1, h2{
    padding-left: 60px;
    padding-right: 90px;
    padding-top: 20px;
    color: white;
}
h2{
    font-size: 28px;
}
h1{
    font-size: 38px;
}
.la{
    height: 20px;
}
.le{
    height: 40px;
}
.lu{
    height: 70px;
}
.ll{
    height: 110px;
}
.cortar{
    padding-inline-end: 520px;
}
#agujero{
    height: 200px;
    margin-left: 630px;
    margin-top: 20px;
}
#andromeda{
    height: 250px;
    margin-left: 660px;
}
#elipti{
    height: 240px;
    margin-left: 670px;
    margin-top: 20px;
    width: 360px;
}
#trian{
    height: 250px;
    margin-left: 670px;
    margin-top: 20px;
    width: 360px;
}
#palo{
    height: 250px;
    margin-left: 670px;
    margin-top: 20px;
    width: 360px;
}
.menos{
    padding-inline-end: 600px;
}
footer{
    background-color: black;
    color: white;
    align-items: center;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
    padding-bottom: 3%;
}
#Contáctanos{
    background-color: rgb(0, 0, 0);
    margin-left: 400px;
    height: 30px;
    border-radius: 6px;
    border : 1px solid rgb(255, 255, 255);
    width: 120px;
    transition: all 200ms;
    position: relative;
    padding: 5px;
    padding-top: 10px;
    align-items: center;

}
#Contáctanos:hover{
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.037);
    border: 1px solid rgb(251, 251, 214);
}
